#green{
    color: green;
}
#red{
    color: red;
}
#col1, #col4{
    width: 10%;
}
#col2{
    width: 20%;
}
#col3{
    width: 40%;
}
thead{
    font-size: 30px;
    text-align: center;
}
tbody{
    font-size: 20px;
}
h1{
    text-align: center;
}
#return{
    text-align: center;
}
div.container{
    margin: 5%;
}
#table{
    margin: 5% 0%;
}
